<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn1{
            background-color: red;
        }
        .btn2{
            background-color:blue;
        }

    </style>
</head>
<body>

    <h1>counter</h1>
    <h2>{{x}}</h2>
    <button class="btn1"><a href="/click">click</a></button>
    <button class="btn2"><a href="/clear">reset</a></button>
</body>
</html>