.blue{
    height: 50px;
    width: 600px;
    background-color:rgb(13,94,175);
}
.white{
    height: 50px;
    width: 600px;
    background-color:white;
}
.careau{
    height: 250px;
    width: 250px;
    background-color:rgb(13,94,175);
    position: absolute;
    top: 8px;
}

.line1{
    background-color: white;
    height: 50px;
    width: 250px;
    position: absolute;
    margin-top: 100px;
}
.line2{
    background-color: white;
    width: 50px;
    height: 250px;
    
    margin-left: 100px;
    position: absolute;
}