.first{
  background-color: aquamarine;
  display: flex;
  justify-content:space-evenly ;
  margin-bottom: 15px;

}
.second{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;

}
.third{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    
}
img{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
h1{
    text-align: center;
}
body{
    margin-left: 400px;
    margin-right: 400px;
}