

.row{
    justify-content: space-between;
    display: flex;

    
    

}

.col{
    flex:1;
    background-color:blueviolet;
    padding: 30px;
    margin: 20px;
}

.col-2{
    background-color: blueviolet;
display: flex;
flex:2;
padding:20px;
margin: 20px;
}

.col-3{
    display: flex;
    flex: 3;
    background-color: blueviolet;
    margin: 20px;
padding: 30px;
    
}