body{
    display: flex;
}
.black-column {
height: 600px;
width: 200px;
    background-color: #000000;
}

.yellow-column{
    height: 600px;
    width: 200px;
    background-color: #FFFD55;
}

.red-column{
    height: 600px;
    width: 200px;
    background-color: #ED1C24;
}